<style>
#header {
	background-color: #246BB2;
	color: white;
	padding: 5px;
	height: 140px;
}

#section1 {
	width: 100%;
	padding: 10px;
	min-height: 50px;
	text-align: center;
}

#section2 {
	width: 100%;
	padding: 10px;
	min-height: 300px;
}

#footer {
	background-color: #246BB2;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}
</style>

<div id="header">
	<img src="logo_instituicao.png"></img> <img src="topo.png"></img>
</div>

<div id="section1" location="menu"></div><br/>
<div id="section2" location="content"></div>

<div id="footer">Departamento de Informatica - PGE - 2015</div><!DOCTYPE html>